services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: deps
    command: npm run dev
    ports:
      - "3000:3000"
    env_file:
      - ./nextjs/.env.local
    volumes:
      - ./nextjs:/app
      - /app/node_modules
